<div class="container">
  <main role="main" class="mt-4">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1 class="text-center">Simple Checkout</h1>
      </div>
    </div>
    <form id="checkout-form" class="my-2 container col-md-8 col-lg-5 px-lg-5" pl-form="payment">
      <!-- Uncomment below lines and update value= with id if desired -->
      <!--
          <input type="hidden" pl-input="processing_id" value="<UPDATE ME>">
          <input type="hidden" pl-input="customer_id" value="<UPDATE ME>">
      -->
      <div class="row">
        <div class="form-group col-4 px-1">
          <label>Amount</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">$</span>
            </div>
            <input class="form-control" pl-input="amount" type="text" name="amount" placeholder="Amount" />
          </div>
        </div>
        <div class="form-group col-8 px-1">
          <label>Cardholder Name</label>
          <input class="form-control w-100" pl-input="account_holder" type="text" placeholder="First Last" />
        </div>
      </div>
      <div class="row pt-2">
        <div class="form-group col-7 px-1">
          <label>Card Number</label>
          <div class="form-control" pl-input="card_number"></div>
        </div>
        <div class="form-group col-3 px-1">
          <label>Expiration</label>
          <div class="form-control" pl-input="expiry"></div>
        </div>
        <div class="form-group col-2 px-1">
          <label>CVC</label>
          <div class="form-control" pl-input="cvc"></div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col px-1"><button class="btn btn-primary" type="submit">Pay Now</button></div>
      </div>
      <div class="row pt-3">
        <div class="col px-1">
          <p>For more information on integrating Payload: See the full <a href="https://docs.payload.co">API Documentation</a>.</p>
          <p>See the <a href="https://github.com/payload-code/payload-code.github.io/blob/master/bootstrap4-simple-checkout.html">source code</a> for this demo on GitHub.</p>
        </div>
      </div>
    </form>

  </main>
</div>
